<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <boards>
    <board name="a" pages="5" folders="true" continuous="true" directory="C:\Temp\" disabled="true" snooze="30">
      <timer days="0" hours="0" minutes="0" seconds="0" disabled="true" />
      <constraint minimum="0" disabled="true" />
    </board>
    <board name="b" pages="5" folders="true" continuous="true" directory="C:\Temp\" disabled="false" snooze="30">
      <timer days="0" hours="0" minutes="0" seconds="0" disabled="true" />
      <constraint minimum="0" disabled="true" />
    </board>
    <board name="c" pages="5" folders="true" continuous="true" directory="C:\Temp\" disabled="true" snooze="30">
      <timer days="0" hours="0" minutes="0" seconds="0" disabled="true" />
      <constraint minimum="0" disabled="false" />
    </board>
    <board name="d" pages="5" folders="true" continuous="true" directory="C:\Temp\" disabled="true" snooze="30">
      <timer days="0" hours="0" minutes="20" seconds="0" disabled="true" />
      <constraint minimum="0" disabled="true" />
    </board>
  </boards>
</Config>